
/* 
html {
    box-sizing: border-box;
    min-width: auto;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 1.7rem;
    background: no-repeat linear-gradient(0deg, #ffffff, #d5d5d5 );
  }
  */
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  .quiz-container {
    text-shadow: 1px 1px white;
    padding: 1rem;
    text-shadow: 0 1px #00000010;
    width: auto;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    transition: color 500ms ease-in-out, opacity 1000ms ease-in, background-color 500ms linear;
    /* background: linear-gradient(360deg, transparent, #ffffff);
    box-shadow: 1px 1px 1px 1px rgba(123, 123, 123, 0.2);
     min-height: 100vh; */
  }
  .title {
    margin-top: 0;
    margin-bottom: 1.8rem;
    color: #FCAF17;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: auto;
  }
  .question {
    margin: 2rem 0;
    font-size: 1.2rem;

  }
  .option {
    padding: 0.5rem;
    color: #00000095;
    background: rgba(255, 255, 255, 0.1);
    width: 80%;
    border-radius: 3px;
    transition: all 0.3s;
    margin: .4rem 0;
  }
  .option:hover {
    background: rgba(255, 177, 33, 0.1);
  }
  .option input:checked .option {
    background: #08038c;
    color: #000;
    padding-left: 2rem;
  }
  .controls > * {
    margin: 1rem;
	display: inline;
  }
  .funnelimg {
    max-width: 100%;
    height: auto;
  }
  button {
    padding: 0.5rem 1.5rem;
    border: none;
    box-shadow: 0 0 0 1px rgba(214, 214, 214, 0.6);
    border-radius: 5px;
    font-weight: 300;
    color: white;
    outline: none;
    transform: scale(0.98);
    transition: all 0.2s;
  }
  button.previous {
    background: #81c0ff;
  }
  button.next {
    background: #3198ff;
  }
  button.restart {
    background: #faa609;
    color: #0000009c;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    transition: all 0.4s;
  }
  button.restart:hover {
    color: #00000098;
  }
  button:hover,
  button:focus {
    transform: scale(1);
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  }
  .result {
    font-size: 1rem;
    text-shadow: 1px 1px #ffffff50;
    color: #00000099;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem;
    margin-bottom: 2rem;
    line-height: auto;
    max-width: 900px;
  }
  .results-heading {
    color: #00000099;
  }
  .summary {
    font-size: 1rem;
    text-shadow: 1px 1px #ffffff50;
    color: #00000099;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem;
    margin-bottom: 2rem;
    line-height: auto;
    max-width: 900px;
  }
  .summary h1, h2, img {
    align-self: center;
  };

  @keyframes shad-anim {
    0% {background-position: 0 0}
    0% {background-position: 100% -100%}
    }